@model TesteCobmais.Models.LogConsulta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LogConsulta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultaTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultaTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtrasoEmDias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtrasoEmDias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAtualizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAtualizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescontoMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescontoMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contrato.DividaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DividaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
