@model IEnumerable<TesteCobmais.Models.LogConsulta>

@{
    ViewData["Title"] = "Logs de consulta";
}

<h1>Logs de consulta</h1>

<p>
   
    <a asp-action="ImportarArquivoCSV">Processar arquivo CSV disponível no servidor</a><br />
    <a asp-action="ExportarDividasAtualizadas">Exportar arquivo CSV com dívidas atualizadas</a>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" style="margin-top: 20px;">
            @Html.ValidationSummary()
        </div>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsultaTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtrasoEmDias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAtualizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescontoMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultaTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtrasoEmDias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAtualizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescontoMaximo)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrato.DividaId)
            </td>
        </tr>
}
    </tbody>
</table>
